<!DOCTYPE html>
<html lang="en" ng-app="am2App">
<head>
  <meta charset="UTF-8">
  <title>AM2 App - MDL</title>
  <link rel='icon' href='favicon.ico' type="image/x-icon">

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="./stylesheets/style.css"/>
  <script src="./js/main.js"></script>
</head>
<body ng-controller="mockupController">
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">AM2 App</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- First row -->
      <div class="mdl-grid">
        <div class="mdl-cell--3-col">
          <h4>
            <span>Choisir la ligne</span>
            <button id="menu-lines" class="mdl-button mdl-js-button--raised">
              <span ng-if="selects.selectedLine">{{selects.selectedLine.from}} - {{selects.selectedLine.to}}</span>
              <span ng-if="!selects.selectedLine">Sélectionner</span></button>
          </h4>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="menu-lines">
            <li ng-repeat="line in selects.lineChoices" class="mdl-menu__item" ng-click="chooseLine(line)">
              {{line.from}}
              - {{line.to}}
            </li>
          </ul>
        </div>
        <div class="mdl-cell--9-col" ng-if="selects.selectedLine">
          <h4>Demande
            <button ng-click="toggleManual()" class="mdl-button mdl-js-button--raised">
              <span>Saisie manuelle</span>
            </button>
          </h4>
          <div>
                <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">E</span>
                  <span class="mdl-chip__text">{{selects.selectedLine.demand.eco}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">B</span>
                  <span class="mdl-chip__text">{{selects.selectedLine.demand.business}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">F</span>
                  <span class="mdl-chip__text">{{selects.selectedLine.demand.first}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">C</span>
                  <span class="mdl-chip__text">{{selects.selectedLine.demand.cargo}} T</span>
                </span>
          </div>
          <div ng-if="selects.manualInput">
            <form>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="input-eco">
                <label class="mdl-textfield__label" for="input-eco">{{selects.selectedLine.demand.eco}}</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="input-business">
                <label class="mdl-textfield__label"
                       for="input-business">{{selects.selectedLine.demand.business}}</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="input-first">
                <label class="mdl-textfield__label" for="input-first">{{selects.selectedLine.demand.first}}</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
              </div>
              <button id="btn-ok" class="mdl-button mdl-js-button--raised" ng-click="getAllOptis()">Ok</button>
              <button id="btn-reset" class="mdl-button mdl-js-button--raised" ng-click="reset()">Reset</button>
            </form>
          </div>
        </div>
      </div> <!-- End of first row -->

      <!-- Second row -->
      <div class="mdl-grid">
        <div class="mdl-cell--3-col">
          <h4>Avions affectés</h4>
          <h6 ng-if="!selects.selectedLine"><i>Aucune ligne sélectionnée</i></h6>
          <h6 ng-if="selects.selectedLine && selects.selectedLine.planes == 0"><i>Aucun avion affecté</i></h6>
          <button ng-repeat="plane in selects.selectedLine.planes" id="lineplane-{{plane.name}}"
                  ng-class="getPlaneClass(plane)"
                  ng-click="choosePlane(plane)">
            {{plane.name}}
            <i class="material-icons">{{getPlaneIcon(plane)}}</i>
            <span for="lineplane-{{plane.name}}" class="mdl-tooltip">{{plane.type}}</span>
          </button>
        </div>

        <div class="mdl-cell--6-col">
          <h4>Avions compatibles</h4>
          <h6 ng-if="!selects.selectedLine"><i>Aucune ligne sélectionnée</i></h6>
          <h6 ng-if="selects.selectedLine && results.optiPlanes.length == 0"><i>Aucun autre avion compatible</i>
          </h6>
          <button ng-repeat="plane in results.optiPlanes" id="optiplane-{{plane.name}}"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button"
                  ng-click="choosePlane(plane)">{{plane.name}}
            <span for="optiplane-{{plane.name}}" class="mdl-tooltip">{{plane.type}}</span>
          </button>
        </div>

        <div class="mdl-cell--3-col">
          <h4>Lignes similaires</h4>
          <h6 ng-if="!selects.selectedLine"><i>Aucune ligne sélectionnée</i></h6>
          <h6 ng-if="selects.selectedLine && results.similarLines.length == 0"><i>Aucune ligne similaire</i></h6>
          <button ng-repeat="line in results.similarLines" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  type="button"
                  ng-click="chooseLine(line)">{{line.from}} - {{line.to}}
          </button>
        </div>
      </div> <!-- End of second row -->
    </div>

    <!-- Third row -->
    <div class="mdl-grid">
      <div class="mdl-cell--4-col">
        <h4> Détail d'un avion
          <button id="menu-planes" class="mdl-button mdl-js-button--raised">
            <span ng-if="selects.selectedPlane">{{selects.selectedPlane.name}}</span>
            <span ng-if="!selects.selectedPlane">Choisir l'appareil</span></button>
        </h4>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="menu-planes">
          <li ng-repeat="plane in selects.planeChoices" class="mdl-menu__item" ng-click="choosePlane(plane)">
            {{plane.name}}
          </li>
        </ul>
      </div>
      <div class="mdl-cell--8-col">
        <h4>Configurations optimales</h4>
      </div>

      <div class="mdl-cell--4-col">

        <!-- Card component for plane detail -->
        <div class="mdl-card mdl-shadow--4dp" ng-if="selects.selectedPlane">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{selects.selectedPlane.name}} ({{selects.selectedPlane.hub}})</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <img src="./images/{{selects.selectedPlane.type}}.png" border="0"
                 alt="Picture not available" style="padding:10px;">
          </div>
          <div class="mdl-card__supporting-text">
            <h6>Configuration</h6>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">E</span>
                  <span class="mdl-chip__text">{{selects.selectedPlane.config.eco}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">B</span>
                  <span class="mdl-chip__text">{{selects.selectedPlane.config.business}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">F</span>
                  <span class="mdl-chip__text">{{selects.selectedPlane.config.first}} pax</span>
                </span>
            <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">C</span>
                  <span class="mdl-chip__text">{{selects.selectedPlane.config.cargo}} T</span>
                </span>
          </div>
          <div class="mdl-card__supporting-text">
            <h6>Destinations</h6>
            <button type="button" class="mdl-chip" ng-repeat="dest in selects.selectedPlane.dests">
              <span class="mdl-chip__text">{{dest}}</span></button>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">settings</i>
            </button>
          </div>
        </div> <!-- End of card component -->
      </div>


      <div class="mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Configuration</th>
            <th>Durée</th>
            <th>% demande <i class="material-icons">arrow_upward</i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="opti in selects.selectedLine.optis">
            <td class="mdl-data-table__cell--non-numeric">{{opti.type}}</td>
            <td>
                <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">E</span>
                  <span class="mdl-chip__text">{{opti.config.eco}} pax</span>
                </span>
              <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">B</span>
                  <span class="mdl-chip__text">{{opti.config.business}} pax</span>
                </span>
              <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">F</span>
                  <span class="mdl-chip__text">{{opti.config.first}} pax</span>
                </span>
              <span class="mdl-chip mdl-chip--contact">
                  <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">C</span>
                  <span class="mdl-chip__text">{{opti.config.cargo}} T</span>
                </span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{opti.duration.asString}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{opti.percent}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- End of thirs row -->
  </main>
</div>
</body>
</html>