<div class="card border border-dark" ng-show="plane">
  <div class="card-body">
    <h4 class="card-title">{{plane.name}}</h4>
    <h5 class="card-subtitle text-muted">{{plane.hub}} </h5>
  </div><img class="card-img-bottom" ng-src="./images/{{plane.type}}.png" border="0" alt="Picture not available"
    style="padding:10px;" height="90" width="275" />
  <div class="card-body">
    <h5 class="card-subtitle">Configuration</h5><span class="badge badge-info" style="margin-right: 2px;">E:
      {{plane.config.eco}}</span><span class="badge badge-info" style="margin-right: 2px;">B:
      {{plane.config.business}}</span><span class="badge badge-info" style="margin-right: 2px;">F:
      {{plane.config.first}}</span>
    <span class="badge badge-warning" style="margin-right: 2px;">C: {{plane.config.cargo}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-subtitle">Destinations</h5><a class="badge badge-pill badge-secondary mr-1" href=""
      ng-repeat="dest in plane.dests" ng-click="chooseDestination(dest)">{{dest}}</a>
  </div>
  <div class="card-body"><button class="btn btn-primary" type="button"><i class="fas fa-cog"
        aria-hidden="true"></i></button></div>
</div>
<div class="card" ng-show="!plane">
  <div class="card-body">
    <h6 class="card-subtitle text-muted">Select a plane</h6>
  </div>
</div>
<!-- End of card component-->
