<div class="container-fluid">
  <h4>Detail d'une ligne</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Origine</th>
        <th>Destination</th>
        <th>Distance</th>
        <th>Éco</th>
        <th>Affaire</th>
        <th>Première</th>
        <th>Avions</th>
        <th>Lignes similaires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{selects.lineDetail.from}}</td>
        <td>{{selects.lineDetail.to}}</td>
        <td>{{selects.lineDetail.distance}}</td>
        <td>{{selects.lineDetail.demand.eco}}</td>
        <td>{{selects.lineDetail.demand.business}}</td>
        <td>{{selects.lineDetail.demand.first}}</td>
        <td>
          <div ng-repeat="planeName in selects.lineDetail.planes">
            <span ng-class="getPlaneLineLabelClass(planeName, selects.lineDetail)">{{planeName}}</span>
          </div>
        </td>
        <td>
          <div ng-repeat="line in similarLines">
            <span ng-class="getLineLineLabelClass(selects.lineDetail, line)">{{line.from}} - {{line.to}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <line-table header="Toutes les lignes" lines="lines" ng-model="selects.lineDetail">
  </line-table>
</div>