<div class="container-fluid">

 <ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active="active" ui-sref="root.lines.detail"><a>Toutes les lignes</a></li>
    <li role="presentation" ui-sref-active="active" ui-sref="root.lines.add"><a>Ajouter une ligne</a></li>
    <li role="presentation" ui-sref-active="active" ui-sref="root.lines.optim"><a>Optimiser</a></li>
  </ul>

  <div ui-view="tabviewLines">
  </div>

  <form ng-if="false">
    <line-select></line-select>
    <button ng-click="removeFirst()">Test</button>
  </form>