//
   Created by Gabriel on 19/04/2017.

.container-fluid
  .row
    .col-lg-3
      h4 Par avion
      form.form-horizontal
        .form-group
          label.col-lg-3.control-label Éco
          .col-lg-6
            input.form-control(type='number', ng-model='optiPlane.config.eco', min='0')
        .form-group
          label.col-lg-3.control-label Affaire
          .col-lg-6
            input.form-control(type='number', ng-model='optiPlane.config.business', min='0')
        .form-group
          label.col-lg-3.control-label Première
          .col-lg-6
            input.form-control(type='number', ng-model='optiPlane.config.first', min='0')
        .form-group
          label.col-lg-3.control-label Type
          .col-lg-6
            type-select(ng-model='optiPlane.type')
    .container-fluid.col-lg-9
      line-table(lines='optiLines', header='Lignes suggérées')
  // End of row