//
   Created by Gabriel on 02/08/2017.

h4
  span Choisir la ligne
    button.mdl-button.mdl-js-button--raised(id="menu-lines2")
      span(ng-if="selects.selectedLine") {{selects.selectedLine.from}} - {{selects.selectedLine.to}}
      span(ng-if="!selects.selectedLine") Sélectionner

ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect(for="menu-lines2")
  li.mdl-menu__item(ng-repeat="line in lines", ng-click="chooseLine(line)") {{line.from}} - {{line.to}}