div(class="container-fluid")
  div(class="row")
    div(class="col-lg-offset-1 container-fluid col-lg-10")
      div(class="panel panel-default")
        div(class="panel-heading") Sélection
        div(class="panel-body")
          div(class="container-fluid col-lg-4")
            div(class="form")
              label(class="control-label") Sélectionner la ligne
              line-select(disabled="selects.manual", select="selects.lineDetail")
            
          div(class="container-fluid col-lg-8")
            div(class="form-horizontal")
              div(class="form-group")
                label(class="control-label") Saisie manuelle demande/distance
              
              div(class="form-group")
                input(type="number", ng-disabled="selects.notManual", ng-model="manualLine.distance", placeholder="Distance")
              
              div(class="form-group")
                input(type="number",
                ng-disabled="selects.notManual", ng-model="manualLine.demand.eco", placeholder="Éco")

                input(type="number", ng-disabled="selects.notManual", ng-model="manualLine.demand.business", placeholder="Affaire")

                input(type="number", ng-disabled="selects.notManual", ng-model="manualLine.demand.first", placeholder="Première")
              
              div(class="form-group")
                span(class="btn btn-default", ng-disabled="selects.notManual", ng-click="submitManual()") Valider
                span(class="btn btn-default", ng-click="resetManual()") Effacer

  div(class="row")
    div(class="container-fluid col-lg-6")
      line-table(header="Détail", lines="lineDetail", enable-select="false", enable-add="false")
      
    div(class="container-fluid col-lg-6")
      line-table(header="Lignes similaires", lines="similarLines", ng-model="selects.lineDetail", enable-select="true", enable-add="false")

  div(class="row")
    div(class="container-fluid col-lg-6")
      line-configs(data="optiConfigs")

    div(class="container-fluid col-lg-6")
      plane-table(planes="optiPlanes", header="Avions compatibles", enable-select="false")

  div(class="row")
    div(class="container-fluid col-lg-12")
      line-table(header="Toutes les lignes", lines="lines", ng-model="selects.lineDetail", enable-select="true", enable-add="true")