table.table.table-striped.table-hover(ng-show='line')
  thead.thead-dark
    tr
      th(scope="col") Type
      th(scope="col", colspan="4") Configuration
      th(scope="col") Durée
      th(scope="col") % demande
      th(scope="col") Actions
  tbody
    tr(ng-repeat='opti in line.optis')
      td.mdl-data-table__cell--non-numeric {{opti.type}}
      td {{opti.config.eco}} pax
      td {{opti.config.business}} pax
      td {{opti.config.first}} pax
      td {{opti.config.cargo}} T
      td {{opti.duration.asString}}
      td {{opti.percent}} %
      td
        a.btn.btn-outline-dark(role="button")
          i.fas.fa-plus(aria-hidden="true", data-toggle="modal" data-target="#modalAddPlane")
