table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(ng-if='line')
  thead
    tr
      th.mdl-data-table__cell--non-numeric Type
      th.mdl-data-table__cell--non-numeric Configuration
      th Durée
      // <th>% demande <i class="material-icons">arrow_upward</i></th>
      th % demande
  tbody
    tr(ng-repeat='opti in line.optis')
      td.mdl-data-table__cell--non-numeric {{opti.type}}
      td
        span.mdl-chip.mdl-chip--contact
          span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white E
          span.mdl-chip__text {{opti.config.eco}} pax
        span.mdl-chip.mdl-chip--contact
          span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white B
          span.mdl-chip__text {{opti.config.business}} pax
        span.mdl-chip.mdl-chip--contact
          span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white F
          span.mdl-chip__text {{opti.config.first}} pax
        span.mdl-chip.mdl-chip--contact
          span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white C
          span.mdl-chip__text {{opti.config.cargo}} T
      td.mdl-data-table__cell--non-numeric {{opti.duration.asString}}
      td.mdl-data-table__cell--non-numeric {{opti.percent}}