div(class="modal fade", id="modalAddPlane", tabindex="-1", role="dialog", aria-labelledby="modalAddPlaneLabel", aria-hidden="true")
  div(class="modal-dialog", role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title", id="modalAddPlaneLabel") New plane
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times
      
      div(class="modal-body")
        form(class="text-center p-5")
          p(class="h4 mb-4") Plane details

          div(class="form-row mb-3")
            div(class="col")
              select-plane-type(plane-type="planeType")
            div(class="col")
              input(type="text", class="form-control", placeholder="AM2 ID", ng-model="newPlane.amID")
          
          div(class="form-row mb-3")
            div(class="col")
              select-hub(hub="hub")
            div(class="col")
              input(type="text", class="form-control", placeholder="Name", ng-model="newPlane.name", disabled)
              name-gen(hub="hub", name="newPlane.name")            

          // Configuration
          div(class="form-row")
            div(class="col")
              label Configuration              
          div(class="form-row mb-3")
            // Economic
            div(class="col")
              input(type="number", class="form-control", placeholder="Eco", ng-model="newPlane.config.eco")
            // Business          
            div(class="col")
              input(type="number", class="form-control", placeholder="Bus.", ng-model="newPlane.config.business")
            // First            
            div(class="col")
              input(type="number", class="form-control", placeholder="First", ng-model="newPlane.config.first")
            // First              
            div(class="col")
              input(type="number", class="form-control", placeholder="Cargo", ng-model="newPlane.config.cargo")

          // Destinations
          div(class="form-row")
            div(class="col")
              label Destinations
          div(class="form-row")
            div(class="col")
              // Destinations
              input(type="text", class="form-control", placeholder="ARN,CDG,...", ng-model="destinations")
              a(ng-repeat="dest in debug") {{dest}}
            
      div(class="modal-footer")
        button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", ng-click="reset()") Reset
        button(type="button", class="btn btn-primary", ng-click="addPlane()") Save changes
