div(class="modal fade", id="modalAddPlane", tabindex="-1", role="dialog", aria-labelledby="modalAddPlaneLabel", aria-hidden="true")
  div(class="modal-dialog", role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title", id="modalAddPlaneLabel") Add new plane
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times
      
      div(class="modal-body")
        form(class="text-center p-5")
          p(class="h4 mb-4") Plane details

          div(class="form-row mb-3")
            div(class="col")
              select-plane-type(plane-type="newPlane.type")
            div(class="col")
              input(type="text", class="form-control", ng-class="{'is-invalid': invalidFeedback.amID}", placeholder="AM2 ID", ng-model="newPlane.amID", required)
              div.invalid-feedback(ng-if="invalidFeedback.amID") This field cannot be empty
          
          div(class="form-row mb-3")
            div(class="col")
              select-hub(hub="newPlane.hub")
            div(class="col")
              input(type="text", class="form-control", placeholder="Name", ng-model="newPlane.name", disabled)
              name-gen(hub="newPlane.hub", name="newPlane.name")

          // Configuration
          div(class="form-row")
            div(class="col")
              label Configuration              
          div(class="form-row mb-3")
            // Economic
            div(class="col")
              input(type="number", class="form-control", placeholder="Eco", ng-model="newPlane.config.eco")
            // Business          
            div(class="col")
              input(type="number", class="form-control", placeholder="Bus.", ng-model="newPlane.config.business")
            // First            
            div(class="col")
              input(type="number", class="form-control", placeholder="First", ng-model="newPlane.config.first")
            // First              
            div(class="col")
              input(type="number", class="form-control", placeholder="Cargo", ng-model="newPlane.config.cargo")

          // Destinations
          div(class="form-row")
            div(class="col")
              label Destinations
          div(class="form-row")
            // Destinations
            div.col-12.mb-1
              a.badge.badge-pill.badge-secondary.mr-1(ng-repeat="dest in newPlane.dests") {{dest}}
            div.col-12
              input(type="text", class="form-control", placeholder="Add new lines: ARN,CDG,...", ng-model="otherDestinations")
          
      div(class="modal-footer")
        button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", ng-click="clear()") Clear
        button(type="submit", class="btn btn-primary", ng-click="addPlane()") Submit
