div.modal.fade(id="modalAddHub", tabindex="-1", role="dialog", aria-labelledby="modalAddHubLabel", aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="modalAddHubLabel") New hub
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times
      
      div.modal-body
        form.text-center.p-5
          p.h4.mb-4 Hub details
          div.form-row.mb-3
            div.col-sm-4
              input.form-control(type="text", placeholder="IATA Code", ng-model="newHub.code")
            div.col-sm-8
              input.form-control(type="text", placeholder="Name", ng-model="newHub.name")
        
          // Regular expressions
          div.form-row
            div.col
              label Registration regular expressions
          div.form-row
            div.col
              input.form-control(type="text", placeholder="regex1,regex2,regex3...", ng-model="regexps")
            
      div.modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", ng-click="reset()") Reset
        button.btn.btn-primary(type="button", ng-click="addHub()") Save changes
