//
   Created by Gabriel on 02/08/2017.

h4 Générateur de nom
  button#menu-hubs.mdl-button.mdl-js-button--raised

ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect(for="menu-hubs")
  li.mdl-menu__item(ng-repeat="hub in hubs", ng-click="chooseLine(line)") {{hub.code}}