div(class="container-fluid")
  a(ng-class="getPlaneLineLabelClass(planeName, line)", ng-click="toggleDetail()") {{planeName}}
  span(class="label", ng-if="showDetail") {{plane.type}}
  span(class="label", ng-if="showDetail") {{plane.config.eco}} / {{plane.config.business}} / {{plane.config.first}}