div(class="panel panel-default")
  div(class="panel-heading") {{header}}
    span(ng-class="getArrowClass()", aria-hidden="true", ng-click="headerClick()")
    span(class="badge") {{planes.length}}
  
  div(class="panel-body", ng-if="open && (planes.length == 0 || planes === undefined)")
    p Aucun résultat
  

  div(class="panel-body", ng-if="open && planes.length > 0")
    h5 Filtres
    span(class="badge") {{results.length}}
    input(type=text)
    hub-select(ng-model="filterHub")
    type-select(ng-model="filterType")
  
  table(class="table table-striped", ng-if="open && planes.length > 0")
    thead
      tr
        th
        th Avion
        th Hub
        th Type
        th Configuration
        th Lignes
      
    tbody
      tr(ng-repeat="plane in planes | filter:filterHub:strict | filter:filterType | filter:query as results")
        td
          span(class="glyphicon glyphicon-eye-open", aria-hidden="true", ngClick="selectPlane(plane)", ng-if="enableSelect")
        td {{plane.name}}
        td {{plane.hub}}
        td {{plane.type}}
        td {{plane.config.eco}} / {{plane.config.business}} / {{plane.config.first}}
        td
          div(ng-repeat="dest in plane.dests")
            span(ng-class="getPlaneLineLabelClass(plane, dest)") {{plane.hub + ' - ' + dest}}