<div class="panel panel-default">
  <div class="panel-heading">
    Configurations optimales
    <span ng-class="getArrowClass()" aria-hidden="true" ng-click="headerClick()">
    </span>
  </div>

  <div class="panel-body" ng-if="open && (optiConfigs.length == 0 || optiConfigs === undefined)">
    <p>Aucune ligne sélectionnée</p>
  </div>

  <table class="table table-striped" ng-if="open && optiConfigs.length > 0">
    <thead>
      <tr>
        <th>Type</th>
        <th>Configuration</th>
        <th>% par rotation</th>
        <th>% max (max. rotations)</th>
        <th>Demande restante</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="opti in optiConfigs">
        <td>{{opti.type}}</td>
        <td>{{opti.config.eco}} / {{opti.config.business}} / {{opti.config.first}}</td>
        <td>{{opti.percent}}</td>
        <td>{{opti.maxRotations * opti.percent}} ({{opti.maxRotations}})</td>
        <td>{{opti.remainingDemand.eco}} / {{opti.remainingDemand.business}} / {{opti.remainingDemand.first}}</td>
      </tr>
    </tbody>
  </table>
</div>