<div class="container-fluid col-lg-3">
  <h4>Générateur de nom par hub</h4>
  <form class="form form-horizontal">
    <div class="form-group">
      <label class="control-label col-lg-3">Nom</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" ng-model="name">
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-3">Hub</label>
        <div class="col-lg-6">
          <hub-select ng-model="hub"></hub-select>
        </div>
    </div>
  </form>
</div>