div.row
  div.col-sm-11
    h5 {{title}}
  div.col-sm-1
    i.fas(ng-class="show ? 'fa-chevron-down' : 'fa-chevron-right'", ng-click="toggle()")

div.row(ng-show="show")
  div.col-sm-12
    a.badge.badge-pill.badge-secondary(href="", style="margin-right: 2px", ng-repeat="line in lines", ng-click="chooseLine(line)") {{line.from}} - {{line.to}}
    h6.text-muted(ng-show="lines.length == 0") No lines to display
