div.modal.fade(id="modalAddPlane", tabindex="-1", role="dialog", aria-labelledby="modalAddPlaneLabel", aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="modalAddPlaneLabel") Add new plane
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times
      
      div.modal-body
        form.text-center.p-5
          p.h4.mb-4 Plane details

          div.form-row.mb-3
            div.col
              select-plane-type(plane-type="newPlane.type")
            div.col
              input.form-control(type="text", ng-class="{'is-invalid': invalidFeedback.amID}", placeholder="AM2 ID", ng-model="newPlane.amID", required)
              div.invalid-feedback(ng-if="invalidFeedback.amID") This field cannot be empty
          
          div.form-row.mb-3
            div.col
              select-hub(hub="newPlane.hub")
            div.col
              input.form-control(type="text", placeholder="Name", ng-model="newPlane.name", disabled)
              name-gen(hub="newPlane.hub", name="newPlane.name")

          // Configuration
          div.form-row
            div.col
              label Configuration              
          div.form-row.mb-3
            // Economic
            div.col
              input.form-control(type="number", placeholder="Eco", ng-model="newPlane.config.eco")
            // Business          
            div.col
              input.form-control(type="number", placeholder="Bus.", ng-model="newPlane.config.business")
            // First            
            div.col
              input.form-control(type="number", placeholder="First", ng-model="newPlane.config.first")
            // First              
            div.col
              input.form-control(type="number", placeholder="Cargo", ng-model="newPlane.config.cargo")

          // Destinations
          div.form-row
            div.col
              label Destinations
          div.form-row
            // Destinations
            div.col-12.mb-1
              a.badge.badge-pill.badge-secondary.mr-1(ng-repeat="dest in newPlane.dests") {{dest}}
            div.col-12
              input.form-control(type="text", placeholder="Add new lines: ARN,CDG,...", ng-model="otherDestinations")
          
      div.modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", ng-click="clear()") Clear
        button.btn.btn-primary(type="submit",c ng-click="addPlane()") Submit
