div.modal.fade(id="modalAddLine", tabindex="-1", role="dialog", aria-labelledby="modalAddLineLabel", aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title(id="modalAddLineLabel") New line
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times
      
      div.modal-body
        form.text-center.p-5
          p.h4.mb-4 Line details
          div.form-row.mb-3
            div.col-6
              input.form-control(ng-class="{'is-invalid': invalidFeedback.distance}", type="number", placeholder="Distance", ng-model="newLine.distance", required)
              div.invalid-feedback(ng-if="invalidFeedback.distance") This field cannot be empty
            div.col-6
              input.form-control(ng-class="{'is-invalid': invalidFeedback.amID}", type="number", placeholder="AM2 ID", ng-model="newLine.amID", required)
              div.invalid-feedback(ng-if="invalidFeedback.amID") This field cannot be empty
          div.form-row.mb-3
            div.col
              select-hub(hub="newLine.from")

            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.to}", type="text", placeholder="To", ng-model="newLine.to", required)
              div.invalid-feedback(ng-if="invalidFeedback.to") This field cannot be empty       

          div.form-row
            div.col
              label Prices

          // Pricing
          div.form-row.mb-3
            // Economic
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.prices.eco}", type="number", placeholder="Eco", ng-model="newLine.prices.eco", required)
              div.invalid-feedback(ng-if="invalidFeedback.prices.eco") This field cannot be empty          
            // Business
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.prices.business}", type="number", placeholder="Bus.", ng-model="newLine.prices.business", required)
              div.invalid-feedback(ng-if="invalidFeedback.prices.business") This field cannot be empty                          
            // First
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.prices.first}", type="number", placeholder="First", ng-model="newLine.prices.first", required)
              div.invalid-feedback(ng-if="invalidFeedback.prices.first") This field cannot be empty          
            // Cargo
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.prices.cargo}", type="number", placeholder="Cargo", ng-model="newLine.prices.cargo", required)
              div.invalid-feedback(ng-if="invalidFeedback.prices.cargo") This field cannot be empty          
            
          // Demand
          div.form-row
            div.col
              label Demand

          div.form-row
            // Economic
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.demand.eco}", type="number", placeholder="Eco", ng-model="newLine.demand.eco", required)
              div.invalid-feedback(ng-if="invalidFeedback.demand.eco") This field cannot be empty          
            // Business
            div.col
              // Business
              input.form-control(ng-class="{'is-invalid': invalidFeedback.demand.business}", type="number", placeholder="Bus.", ng-model="newLine.demand.business", required)
              div.invalid-feedback(ng-if="invalidFeedback.demand.business") This field cannot be empty          
            // First
            div.col
              // First
              input.form-control(ng-class="{'is-invalid': invalidFeedback.demand.first}", type="number", placeholder="First", ng-model="newLine.demand.first", required)
              div.invalid-feedback(ng-if="invalidFeedback.demand.first") This field cannot be empty          
            // Cargo
            div.col
              input.form-control(ng-class="{'is-invalid': invalidFeedback.demand.cargo}", type="number", placeholder="Cargo", ng-model="newLine.demand.cargo", required)
              div.invalid-feedback(ng-if="invalidFeedback.demand.cargo") This field cannot be empty   
            
      div.modal-footer
        button.btn.btn-secondary(type="button", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", ng-click="clear()") Clear
        button.btn.btn-primary(type="button", ng-click="addLine()") Submit
