<div class="row text-center modal-title">
  <p class="h3 col-12" id="modalAddPlaneLabel">Add new line</p>
</div>

<div class="row">
  <form class="text-center p-5">
    <div class="form-row mb-3">
      <p class="h5 col-12 mb-2">Line details</p>
      <div class="col-6"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.distance}" type="number"
          placeholder="Distance" ng-model="newLine.distance" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.distance">This field cannot be empty</div>
      </div>
      <div class="col-6"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.amID}" type="number"
          placeholder="AM2 ID" ng-model="newLine.amID" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.amID">This field cannot be empty</div>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col">
        <select-hub hub="newLine.from"></select-hub>
      </div>
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.to}" type="text"
          placeholder="To" ng-model="newLine.to" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.to">This field cannot be empty </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col"><label>Prices</label></div>
    </div>

    <!-- Pricing-->
    <div class="form-row mb-3">
      <!-- Economic-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.prices.eco}" type="number"
          placeholder="Eco" ng-model="newLine.prices.eco" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.prices.eco">This field cannot be empty </div>
      </div>
      <!-- Business-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.prices.business}"
          type="number" placeholder="Bus." ng-model="newLine.prices.business" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.prices.business">This field cannot be empty </div>
      </div>
      <!-- First-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.prices.first}" type="number"
          placeholder="First" ng-model="newLine.prices.first" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.prices.first">This field cannot be empty </div>
      </div>
      <!-- Cargo-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.prices.cargo}" type="number"
          placeholder="Cargo" ng-model="newLine.prices.cargo" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.prices.cargo">This field cannot be empty </div>
      </div>
    </div>

    <!-- Demand-->
    <div class="form-row">
      <div class="col"><label>Demand</label></div>
    </div>
    <div class="form-row">
      <!-- Economic-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.demand.eco}" type="number"
          placeholder="Eco" ng-model="newLine.demand.eco" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.demand.eco">This field cannot be empty </div>
      </div>
      <!-- Business-->
      <div class="col">
        <!-- Business--><input class="form-control" ng-class="{'is-invalid': invalidFeedback.demand.business}"
          type="number" placeholder="Bus." ng-model="newLine.demand.business" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.demand.business">This field cannot be empty </div>
      </div>
      <!-- First-->
      <div class="col">
        <!-- First--><input class="form-control" ng-class="{'is-invalid': invalidFeedback.demand.first}" type="number"
          placeholder="First" ng-model="newLine.demand.first" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.demand.first">This field cannot be empty </div>
      </div>
      <!-- Cargo-->
      <div class="col"><input class="form-control" ng-class="{'is-invalid': invalidFeedback.demand.cargo}" type="number"
          placeholder="Cargo" ng-model="newLine.demand.cargo" required="required" />
        <div class="invalid-feedback" ng-if="invalidFeedback.demand.cargo">This field cannot be empty </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="offset-8 col-4">
    <button class="btn btn-primary" type="button" ng-click="vm.addLine()">Submit</button>
    <button class="btn btn-danger" type="button" ng-click="vm.clear()">Clear</button>
    <button class="btn btn-secondary" type="button" ng-click="vm.close()">Close</button>
  </div>
</div>
