<div class="row">
  <div class="col-sm-11">
    <h5>{{title}}</h5>
  </div>
  <div class="col-sm-1"><i class="fas" ng-class="show ? 'fa-chevron-down' : 'fa-chevron-right'" ng-click="toggle()"></i>
  </div>
</div>
<div class="row" ng-show="show">
  <div class="col-sm-12"><a class="badge badge-pill badge-secondary" href="" style="margin-right: 2px;"
      ng-repeat="line in lines" ng-click="chooseLine(line)">{{line.from}} - {{line.to}}</a>
    <h6 class="text-muted" ng-show="lines.length == 0">No lines to display</h6>
  </div>
</div>
